{% extends "base.html" %}
{% block body %}
    <div class="wrapper ">
        {% include "components/sidebar/sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "components/navbar/navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Application list</h4>
                                    <p class="card-category"> Click on a item to access it's configurations</p>
                                </div>
                                <div class="card-header card-header-toolbar card-header-tabs card-header-info">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link" rel="tooltip" title="Add a new application" href="{{ url('new_app_page') }}">
                                                        <i class="material-icons">add_box</i> Add new
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary">
                                                <th>Name</th>
                                                <th>Git SHA</th>
                                                <th>Deploy lock status</th>
                                                <th class="text-right">Actions</th>
                                            </thead>
                                            <tbody>
                                             {% for app in apps %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ url('app_info', app_name=app[0]) }}"
                                                           title="{{ app[0] }}"
                                                           rel="nofollow noopener noreferrer">
                                                            {{ app[0] }}
                                                        </a>
                                                    </td>
                                                    {% if app[2] %}
                                                        <td>{{ app[2] }}</td>
                                                    {% else %}
                                                        <td>-</td>
                                                    {% endif %}
                                                    <td>
                                                        {% if app[4] %}
                                                            {% if app[4] == 'false' %}
                                                                <button type="button" rel="tooltip"
                                                                    title="Unlock this app and enable deploys"
                                                                    class="btn btn-danger btn-link btn-sm">
                                                                    <i class="material-icons" style="margin-left: -35px;">lock</i>
                                                                    Locked
                                                                </button>
                                                            {% else %}
                                                                <button type="button" rel="tooltip"
                                                                    title="Lock this app and disable deploys"
                                                                    class="btn btn-info btn-link btn-sm">
                                                                    <i class="material-icons">lock_open</i>
                                                                    Unlocked
                                                                </button>
                                                            {% endif %}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    <td class="td-actions text-right" style="width: fit-content;">
                                                        <button type="button" rel="tooltip"
                                                                title="Rebuild this app"
                                                                class="btn btn-link btn-sm"
                                                                data-attribute="{{ app[0] }}" disabled="disabled">
                                                            <i class="material-icons">autorenew</i>
                                                        </button>
                                                        <button type="button" rel="tooltip"
                                                                title="Stop this app"
                                                                class="btn btn-link btn-link btn-sm"
                                                                data-attribute="{{ app[0] }}" disabled="disabled">
                                                            <i class="material-icons">stop</i>
                                                        </button>
                                                        <button type="button" rel="tooltip"
                                                                title="Start this app"
                                                                class="btn btn-link btn-link btn-sm"
                                                                data-attribute="{{ app[0] }}" disabled="disabled">
                                                            <i class="material-icons">play_arrow</i>
                                                        </button>
                                                        <button type="button" rel="tooltip"
                                                                title="Restart this app"
                                                                class="btn btn-link btn-sm"
                                                                data-attribute="{{ app[0] }}" disabled="disabled">
                                                            <i class="material-icons">refresh</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                             {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/footer/footer-content.html" %}
        </div>
    </div>
{% endblock %}
