{% extends "base.html" %}
{% block body %}
    <div class="wrapper ">
        {% include "components/sidebar/sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "components/navbar/navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Application list</h4>
                                    <p class="card-category"> Click on a item to access it's configurations</p>
                                </div>
                                <div class="card-header card-header-toolbar card-header-tabs card-header-info">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link" rel="tooltip" title="Add a new application" href="{{ url('new_app_page') }}">
                                                        <i class="material-icons">add_box</i> Add new
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary">
                                                <th scope="col">Name</th>
                                                <th scope="col">Processes</th>
                                                <th scope="col">Deployed</th>
                                                <th scope="col">Running</th>
                                                <th scope="col" class="text-right">Actions</th>
                                            </thead>
                                            <tbody>
                                             {% for app in apps %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ url('app_info', app_name=app[0]) }}"
                                                           title="{{ app[0] }}"
                                                           rel="nofollow noopener noreferrer">
                                                            {{ app[0] }}
                                                        </a>
                                                    </td>
                                                    <td>{{ app[1] }}</td>
                                                    <td>{{ app[2] }}</td>
                                                    <td>{{ app[3] }}</td>
                                                    <td class="td-actions text-right">
                                                        <a
                                                            href="{{ url('app_configuration', app_name=app[0]) }}"
                                                            type="button"
                                                            rel="tooltip"
                                                            title="Manage application dependencies"
                                                            class="btn btn-link btn-sm"
                                                            data-attribute="{{ app[0] }}">
                                                            <i class="material-icons">settings</i>
                                                        </a>
                                                        <a
                                                            href="{{ url('change_app_state', app_name=app[0], action='stop') }}"
                                                            type="button"
                                                            rel="tooltip"
                                                            title="Stop this app"
                                                            class="btn btn-link btn-link btn-sm"
                                                            data-attribute="{{ app[0] }}">
                                                            <i class="material-icons">stop</i>
                                                        </a>
                                                        <a
                                                            href="{{ url('change_app_state', app_name=app[0], action='start') }}"
                                                            type="button" rel="tooltip"
                                                            title="Start this app"
                                                            class="btn btn-link btn-link btn-sm"
                                                            data-attribute="{{ app[0] }}">
                                                            <i class="material-icons">play_arrow</i>
                                                        </a>
                                                        <a
                                                            href="{{ url('change_app_state', app_name=app[0], action='restart') }}"
                                                            type="button" rel="tooltip"
                                                            title="Restart this app"
                                                            class="btn btn-link btn-sm"
                                                            data-attribute="{{ app[0] }}">
                                                            <i class="material-icons">replay</i>
                                                        </a>
                                                        <a
                                                            href="{{ url('app_toggle_lock', app_name=app[0], action='lock') }}"
                                                            type="button"
                                                            rel="tooltip"
                                                            title="Lock app deploys"
                                                            class="btn btn-link btn-sm">
                                                            <i class="material-icons">lock</i>
                                                        </a>
                                                        <a
                                                            href="{{ url('app_toggle_lock', app_name=app[0], action='unlock') }}"
                                                            type="button"
                                                            rel="tooltip"
                                                            title="Unlock app deploys"
                                                            class="btn btn-link btn-sm">
                                                            <i class="material-icons">lock_open</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                             {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/footer/footer-content.html" %}
        </div>
    </div>
{% endblock %}
