{% extends "base.html" %}
{% block body %}
    <div class="wrapper ">
        {% include "components/sidebar/sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "components/navbar/navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Ops, something went wrong</h2>
                    </div>
                </div>
            </div>
            {% include "components/footer/footer-content.html" %}
        </div>
    </div>
{% endblock %}